[Unit]
Description=haproxy Exporter

[Service]
User=root
ExecStart=/opt/haproxy-exporter/haproxy_exporter-{{ haproxy_exporter_release }}.linux-amd64/haproxy_exporter -web.listen-address=0.0.0.0:9100

[Install]
WantedBy=default.target
