{
  "zk": "zk://client:{{ zookeeper_client_secret }}@{% for host in groups['zookeeper'] %}{{ host }}:2181{% if not loop.last %},{% endif %}{% endfor %}/mesos",
  "masters": [{% for host in groups['manager'] %}"{{ hostvars[host]['ansible_eth0']['ipv4']['address'] }}:5050"{% if not loop.last %},{% endif %}{% endfor %}],
  "mesosCredentials": {
    "principal": "{{ mesos_user }}",
    "secret": "{{ mesos_password }}"
  },  

  {% if libprocess_enable_ssl == "true" %}
  "MesosHTTPSOn": true,
  "CertFile":"/etc/mesos/ssl/mesos.crt",
  "KeyFile":"/etc/mesos/ssl/mesos.key",
  {% endif %}
  "mesosAuthentication": "basic",
  "refreshSeconds": 60,
  "ttl": 60,
  "domain": "mesos",
  "port": 61053,
  "resolvers": ["127.0.0.1"],
  "timeout": 5,
  "IPSources": [ "netinfo", "host" ],
  "email": "root.mesos-dns.mesos"
}

