global:
  scrape_interval:     15s
  evaluation_interval: 30s

scrape_configs:

- job_name: docker-metrics
  static_configs:           
  - targets: [{% for host in groups['worker'] %}'{{ host }}:8070'{% if not loop.last %},{% endif %}{% endfor %}]
    labels:
      node: docker-nodes

- job_name: haproxy-metrics
  static_configs:
  - targets: [{% for host in groups['haproxy'] %}'{{ host }}:9100'{% if not loop.last %},{% endif %}{% endfor %}]
    labels:
      node: haproxy-nodes

- job_name: host-metrics
  static_configs:
  - targets: [{% for host in groups['all_servers'] %}'{{ host }}:9100'{% if not loop.last %},{% endif %}{% endfor %}]
    labels:
      node: all-nodes
