[Unit]
Description=Prometheus
After=network.target auditd.service

[Service]
Type=simple
EnvironmentFile=/etc/sysconfig/prometheus
User=root
ExecStart=/opt/prometheus/{{ prometheus_archive_contents }}/prometheus -config.file=/opt/prometheus/{{ prometheus_archive_contents }}/prometheus.yml -storage.local.path=/opt/prometheus/data  -web.listen-address ":{{ prometheus_port }}" -storage.local.retention {{ prometheus_retention }}
Restart=always

[Install]
WantedBy=multi-user.target
