[Unit]
Description=Consul Server

[Service]
Environment="GOMAXPROCS=`nproc`"
User={{ consul_user }}
Group={{ consul_group }}
ExecStart={{ consul_home }}/bin/consul agent -bind {{ ansible_default_ipv4.address }} -config-file=/etc/consul.json
[Install]
WantedBy=multi-user.target
