{
    "live-restore": false,
    "storage-driver": "overlay2",
    "data-root": "{{ docker_data_root }}",
    "dns": ["{{ hostvars[inventory_hostname][ansible_eth_if]['ipv4']['address'] }}"],
    "dns-search": ["{{ dns_domain }}"],
    "log-driver": "journald",
    "insecure-registries": [{% for registry in docker_registry %}"{{ registry.url }}"{% if not loop.last %},{% endif %}{% endfor %}]      
}
