[Unit]
Description=Weave Scope
Documentation=http://docs.weave.works/
After=weave.service
Requires=docker.service
[Service]
Restart=always
TimeoutStartSec=0
EnvironmentFile=-/etc/weave.env
ExecStart=/usr/local/bin/scope launch $WEAVE_PEERS
[Install]
WantedBy=weave.target
