[Unit]
Description=Registrator Container
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker stop registratorMaster
ExecStartPre=-/usr/bin/docker rm registratorMaster
ExecStartPre=/usr/bin/docker pull "{{ registrator_image }}"
ExecStart=/usr/bin/docker run --rm --name registratorMaster -v "{{ registrator_docker_socket }}:/tmp/docker.sock" "{{ registrator_image }}" /bin/registrator -iprange 10.0.0.0 -cleanup=true -ttl=120 -ttl-refresh=60 -resync=10 -internal=true {{ registrator_uri }}

[Install]
WantedBy=multi-user.target