{
  "mesos": [
    {
      "network_mode": "CNI",
      "network_name": "weave",
      "dns": {
        "nameservers": [ "{{ hostvars[inventory_hostname][eth_if]['ipv4']['address'] }}" ]
      }
    }
  ],
  "docker": [
    {
      "network_mode": "BRIDGE",
      "dns": {
        "nameservers": [ "{{ hostvars[inventory_hostname][eth_if]['ipv4']['address'] }}" ]
      }
    }
  ]  
}
