{ 
  "libraries": [
     {
       "file": "/usr/lib/mesos/modules/liblogrotate_container_logger.so",
       "modules": [
         {
           "name": "org_apache_mesos_LogrotateContainerLogger",
            "parameters": [
             {
               "key": "max_stdout_size",
               "value": "10MB"
             },
             {
               "key": "max_stderr_size",
               "value": "10MB"
             },
             {
               "key": "logrotate_stdout_options",
               "value": "rotate 9"
             },
             {
               "key": "logrotate_stderr_options",
               "value": "rotate 9"
             }             
           ]           
         }
       ]
     }
   ]
 }