[Unit]
Description=Weave Net
Documentation=http://docs.weave.works/
After=docker.service
Requires=docker.service
[Service]
Restart=on-failure
TimeoutStartSec=0
EnvironmentFile=-/etc/weave.env
EnvironmentFile=-/etc/weave.%H.env
ExecStartPre=/usr/local/bin/weave launch --rewrite-inspect --no-restart $WEAVE_PEERS
ExecStart=/usr/bin/docker attach weave
ExecStop=/usr/local/bin/weave stop
[Install]
WantedBy=weave.target
