{
  "libraries": [
    {
      "file": "/usr/lib/{{ libmesos_dvdi_release_package }}",
      "modules": [
        {
          "name": "com_emccode_mesos_DockerVolumeDriverIsolator"
        }
      ]
    }
  ]
}
