
libstorage:
  logging:
    level:         warn
    httpRequests:  true
    httpResponses: true
  integration:
    volume:
      operations:
        mount:
          preempt: true
  server:
    services:
      rbd:
        driver: rbd
        integration:
          volume:
            operations:
              remove:
                disable: true
              path:
                cache:
                  enabled: false
      s3fs:
        driver: s3fs

s3fs:
  accessKey: {{ s3_access_key }}
  secretKey: {{ s3_secret_key }}
  endpoint: https://{{ s3_region_endpoint }}
  region: {{ s3_region }}
  encrypt: {{ s3_encryption_password }}
  options:
  - allow_other
  - nonempty
  - url=https://{{ s3_region_endpoint }}
  - use_path_request_style

rbd:
  defaultPool: docker
  cephArgs: "--cluster ceph --id docker --user docker"


