rexray:
  logLevel: warn
  modules:
    default-docker:
      type: csi
      host: unix:///var/run/docker/plugins/rexray.sock
      spec: /var/lib/docker/plugins/rexray.spec
      libstorage:
        service: s3fs
    rbd:
      type: csi
      host: unix:///var/run/docker/plugins/rbd.sock
      spec: /var/lib/docker/plugins/rbd.spec
      libstorage:
        service: rbd

libstorage:
  logging:
    level:         debug
    httpRequests:  true
    httpResponses: true
  service: s3fs
  server:
    services:
      s3fs:
        driver: s3fs
      rbd:
        driver: rbd

s3fs:
  accessKey: {{ s3_access_key }}
  secretKey: {{ s3_secret_key }}
  endpoint: https://{{ s3_region_endpoint }}
  region: {{ s3_region }}
  encrypt: {{ s3_encryption_password }}
  options:
  - allow_other
  - nonempty
  - url=https://{{ s3_region_endpoint }}
  - use_path_request_style

rbd:
  defaultPool: docker
  cephArgs: "--cluster ceph --id docker --user docker"


