
rexray:
  logLevel: warn
  modules:
    default-docker:
      type: docker
      desc: The default docker module.
      host: unix:///run/docker/plugins/s3fs.sock
      libstorage:
        service: s3fs
        integration:
          volume:
            operations:
              create:
                default:
                  fsType: ext4
              mount:
                preempt: false
  modules:
    rbd-docker:
      type: docker
      desc: The ceph docker module.
      host: unix:///run/docker/plugins/s3fs.sock
      libstorage:
        service: rbd

s3fs:
  accessKey: {{ s3_access_key }}
  secretKey: {{ s3_secret_key }}
  endpoint: https://{{ s3_region_endpoint }}
  region: {{ s3_region }}
  encrypt: {{ s3_encryption_password }}
  options:
  - allow_other
  - nonempty
  - url=https://{{ s3_region_endpoint }}
  - use_path_request_style

rbd:
  defaultPool: docker
  cephArgs: --id docker


