network:
  version: 2
  renderer: networkd
  ethernets:
    eth0:
      dhcp4: true
      dhcp6: false
      optional: true
      nameservers:
        addresses: [127.0.0.1,{{ dns1 }}, {{ dns2 }}, 8.8.8.8]

