
##############################################################################################
#                                                                                            #
# You are now logged on to host: {{ inventory_hostname }}                                              #
#                                                                                            #
# Before continuing with any docker related changes, run the following command to enable     #
# the Weave / Docker proxy:                                                                  #
#                                                                                            #
# eval $(weave env)                                                                          #
#                                                                                            #
##############################################################################################

