# {{ ansible_managed }}
WEAVE_PEERS="{% for host in groups['worker'] %} {{ host }} {% endfor %}"
WEAVE_PASSWORD="{{ weave_password }}"
{% if weave_fastd == "false" %}
WEAVE_NO_FASTDP=true
{% endif %}
