# {{ ansible_managed }}
WEAVE_PEERS="{% for host in groups['worker'] %} {{ host }} {% endfor %}{% for host in groups['legacy'] %} {{ host }} {% endfor %}"
WEAVE_PASSWORD="{{ weave_password }}"
WEAVE_NO_FASTDP=false
